<html>
<header>
<div class="subcontainer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home</h1>
            </div>
        </div>
    </div>

    <a class="a1" href="/crear">Crear Tareas</a>
    <a class="a2" href="/listar">Listar Tareas</a>
</div>

</header>   

<body>

    <h3>Bienvenid@ usuari@!, esta pagina sirve para interactuar con la API de tareas
    <br>
    <p class="please">(por favor seleccione una de las opciones del menu superior)</p>
    </h3>

</body>

</html>